/Canvas.class
/Hourglass.class
/HourglassSyncMethods.class
/MainThread.class
/PopupThread.class
/PopupWindow.class
/Timer.class
/TimerThread.class
/HourglassLock.class
/MainThread$Hourglass.class
/Lock.class
/ParentThread.class
/MyTimerTask.class
